<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !city"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Type a name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Latitude:</mat-label>
      <input matInput formControlName="lat" required
             placeholder="Insert latitude" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longtitude:</mat-label>
      <input matInput formControlName="lon" required
             placeholder="Insert longtitude" />
    </mat-form-field>

    <mat-form-field *ngIf="countries">
      <mat-label value="">Select a Country...</mat-label>
      <mat-select id="countryId" formControlName="countryId">
        <mat-option *ngFor="let country of countries"
                    [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary"
              type="submit">
        {{this.id ? "Save" : "Create"}}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/cities']">
        Cancel
      </button>
    </div>
  </form>
</div>
